* {
    margin: 0;
    padding: 0;
    border-style: none;
}

body {
    display: flex;
    background-color: #F5F5DC;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;;
    font-family: 'Shadows Into Light', "sans serrif";
    overflow: hidden;
}

.game {
    margin-top: -50px
}

.wrapper {
    display: flex;
    margin: auto;
    max-width: 860px;
    height: 590px;
    flex-direction: row;
    background-color: #285943;
    border-radius: 20px;
    align-content: center;;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 15px, rgba(0, 0, 0, 0.3) 0px 7px 13px, rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#colunm1 {
    margin: 40px;
    border-radius: 10px;
}

#colunm2 {
    margin: auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    width: 250px;
    height: 50%;
    background-color: #77AF9C;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin: 5px 0;
}

.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 130px); 
    grid-template-rows: repeat(3, 130px);
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box {
    border: 3px solid black;
    background-color: white;
    display: grid;
    justify-content: center;
    align-content: center;
}

.box:hover {
    background-color: wheat;
}

img {
    position: relative;
    width: 90px;
    height: 90px;
}

#player1 {
    border-bottom: 1px solid blue;
}

#player2 {
    border-bottom: 1px solid red;
}

#winPopup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: grid;
    visibility: hidden;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

#selectIconBeforePlaying {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: grid;
    visibility: hidden;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.modalText {
    display: flex;
    background-color:  rgba(0, 0, 0, 0.6);;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;;
    font-size: 50px;
    margin-bottom: 20px
}

.modalBtn {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: turquoise;
    border-radius: 10px;
    max-width: 30%;
}
.modalBtn:hover {
    background-color:yellowgreen;
    cursor: pointer;
}

.setup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#setupHeading {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

#setupHeading h2 {
    margin:  0;
}

.icons {
    display: flex;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

.icons img {
    margin: 0 10px;
}

.icons img:hover {
    background-color: burlywood;
}

.icon-select {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

.scores {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #77AF9C;
}

#playerScores {
    display: flex;
}

#player1, #player2 {
    margin: 10px;
}

#name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 1000px) {
    .wrapper {
        width: 60%; 
    }
    #colunm2 {
        width: 90%;
        margin-bottom: 20px;
    }
    .setup {
        align-items: center;
        flex-direction: row;
        width: 90%;
    }
    #setup-heading {
        flex-direction: row;
        
    }
    .grid-container {
        grid-template-columns: repeat(3, 100px); 
        grid-template-rows: repeat(3, 100px);
    }
    img {
        width: 75px;
        height: 75px; 
    }
    .icon-select {
        width: 20px;
        height: 20px;
    }
    .icons img {
        margin: 0 3px;
    }
}

@media (max-width: 720px) {
    
    .grid-container {
        grid-template-columns: repeat(3, 85px); 
        grid-template-rows: repeat(3, 85px);
    }
    img {
        width: 65px;
        height: 65px; 
    }
}

@media(max-width: 640px) {
    
    .scores, .setup {
        font-size: 15px;
    }
    .row {
        width: 100%;
    }
    #colunm1 {
        margin-top: 0;
    }
    #colunm2 {
        margin-bottom: 0;
    }
    .grid-container {
        grid-template-columns: repeat(3, 75px); 
        grid-template-rows: repeat(3, 75px);
    }
    img {
        width: 50px;
        height: 50px;
    }
    .icons img {
        margin: 0 3px;
    }
}





